@mixin gradient($from: #000, $to: #fff) {
  background-color: $from;
  background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background-image: -webkit-linear-gradient(top, $from, $to);
  background-image: -moz-linear-gradient(top, $from, $to);
  background-image: -o-linear-gradient(top, $from, $to);
  background-image: linear-gradient(to bottom, $from, $to);
}



/* Пример использования */
/* Фон с градиентом цвета от #E0F8D8 и до #9BE882 */
/*

.element{
  @include gradient($color, darken($color,20%));
}

*/